/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
  margin: 5px;
}

.mat-form-field {
  width: 100% !important;
}
.big-table {
  min-width: 800px;
}

.wrap-table{
  max-width: 100%;
  overflow: scroll;
}

.mat-button {
    padding: 0 8px !important;
}
.title  {
  text-align: center;
  padding: 20px;
}
.demo-button-container{
  display: flex;
  justify-content: center;
  padding: 10px;
}
